$tc-color: rgb(255, 255, 255);
$bl-color: #FFDC00;

.TypistExample {   
  a {
    color: inherit;
    &:hover {
      background-color: $bl-color;
      color: white;
      text-decoration: none;
    }
  }
  &-header {
    margin-top: 9vh;
    text-align: center;
    font-size: 10vmin;
    cursor: pointer;
    color: $tc-color;
    line-height: 8vh;
    @media (max-width: 1024px) {
      margin-top: 6vh;
      line-height: 6vh;
    }
    @media  (max-device-width: 1024px) and (orientation: landscape) {
      margin-top: 8vh;
      line-height: 8vh;
    }
  }
  &-message {
  margin-top: 8vh;
  font-size: 5vmin;
  color: $tc-color;
  margin: auto;

    .flash {
      color: $bl-color;
      font-weight: bold;
      text-decoration: underline;
      margin: auto;
      animation-name: blinker;
      animation-duration: 1.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
    }
  }
}