$tc-color: rgb(255, 255, 255);
$bl-color: #FFDC00;

.TypistExample {   
  a {
    color: inherit;
    &:hover {
      background-color: $bl-color;
      color: white;
      text-decoration: none;
    }
  }
  &-header {
    margin-top: 4%;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    color: $tc-color;
  }
  &-message {
  
  color: $tc-color;
  margin: auto;

    .flash {
      color: $bl-color;
      font-weight: bold;
      text-decoration: underline;
      margin: auto;
      animation-name: blinker;
      animation-duration: 1.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
    }
  }
}