.hoss{
  font-family: 'Changa', sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#cardimage{
  border-radius: 5% 5%;
  height: 10%;
  width: 10%;
}
#card{
  width:105rem;
  height: 50rem;
  background:rgba(49, 46, 46, 0.8);
  background-repeat: no-repeat;
  background-size: 161rem 90rem;
  background-position: center;
  border-radius: 5% ;
  color :white;
  font-size: 3.5rem;
  margin-bottom: 30%;
}
.textCard{
  color :white;
  width: 100%;
  font-size: 1.9rem;
}

#hossik{
    font-size: 250%;
    color: rgb(233, 212, 25);
    font-weight: bold;
    z-index: -1;
}

.btn-circle.btn-xl {
  width: 160px;
  height: 90px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
}
.tn{
  margin-left: 20px;
}

.links{
  color: inherit;
  text-decoration: inherit;
  margin-left: 5%;
}
.links:hover{
  color: inherit;
  text-decoration: inherit;
}
.page-enter{
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}


.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute; 
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
  
}
@media (max-aspect-ratio: 16/9) {
  #videoBG { 
      width:auto;
      height: 100%;
  }

  
  
}

@media (max-width: 767px) {



#card{
  width:20rem;
  height: 50rem;
  font-size: 1.5rem;
}
#cardtitle{
  font-size: 1.5rem;
}
#dark-overlay {

  height: 190vh;
}


}
@media screen and (orientation: landscape) {
  #dark-overlay {

    height: 370vh;
  }
  
}


#videoBG {
  position:fixed;
    z-index: -1;

}

.dark-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(184, 176, 176, 0.5) ;
  height: 170vh;
}
.landing{
  position: relative;
  height: 100vh;
}

.landing-inner{
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  text-align: center;
}
#head{
  position: relative;
  z-index: 100;
}
#zir{
  position: relative;
  z-index: 1;
}
#man{
  height: 4rem;
  width: 4rem;
  border-radius: 35px;
}
