.hoss{
  font-family: 'Changa', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
#components{
  margin-left: 25%;
}
#cardimage{
  border-radius: 5% 5%;
  height: 10%;
  width: 10%;
  

}
#card{
  background-image: url(https://cdn.dribbble.com/users/19426/screenshots/838822/oldmonitor.png);
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: 131rem 90rem;
  background-position: center;
  border-radius: 5% 5%;
  margin-left: 8%;
  color :blue;
  font-size: 3.5rem;
  background-color: grey;
  margin-bottom: 17%;
}
.textCard{
  color :blue;
  display: "inline-block";
  border: "1px solid #ccc";
  margin-bottom: "1em";
  padding: "2em 1em 1em 1em";
  width: "80%";
  font-size: 1.9rem;
}
.flash{
  color :blue;
  display: "inline";
  position: relative;
  font-size: 2.9rem;
}
#cardtitle{
  margin-top: 9%;
}

#hossik{
    font-size: 300%;
    color: blue;
    font-weight: bold;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-circle {
  margin-top: 5%;
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
}
.btn-circle.btn-xl {
    width: 120px;
    height: 90px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
}
.tn{
  margin-left: 20px;
}
html, body, #root, #root>div {
  background-color: black;
  
}
.links{
  color: inherit;
  text-decoration: inherit;
  margin-left: 5%;
}
.links:hover{
  color: inherit;
  text-decoration: inherit;
}
.page-enter{
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}


.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute; 
}
.inline{
  display: inline;
}